
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,pawn,sourcepawn
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,pawn,sourcepawn

### PAWN ###
# Compiled Bytecode, precompiled output and assembly
*.amx
*.lst
*.asm

# Vendor directory for dependencies
dependencies/
scriptfiles/

# Dependency versions lockfile
pawn.lock

# IDE setting files
settings.ini

### SourcePawn ###
# SourcePawn
*.dll # extensions
*.so # extensions
*.smx # plugins

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,pawn,sourcepawn
/mysql_log.txt
/server-readme.txt
/crashinfo.txt
/fcnpc-crash_2020-08-13_20.49.20.txt
logs
/server_log.txt
